@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    background-color: #f5f5f5;
}

html::-webkit-scrollbar {
    display: none;
}

main {
    position: relative;
}

header {
    background-color: green;
    height: 100vh;
    width: 100%;
}

.box-video {
    width: 100%;
    height: 100%;
    position: absolute;
}
.box-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.menu-box-0 {
    width: 100%;
    display: flex;
    justify-content: center;
}
.menu-box {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.301);
    height: 10vh;
    transition: 0.3s;
    top: 0;
    z-index: 10;
}

.menu-box.active{
    width: 45%;
    padding: 10px;
    border-radius: 30px;
    font-size: 0.8em;
    height: 7vh;
    background-color: rgba(0, 0, 0, 0.692);
}

.menu-box:hover {
    background-color: black;
    transition: 0.3s;
}

.logo {
    position: absolute;
    left: 0;
    transform: scale(0.6);
    transition: 0.3s;
}
.logo:hover {
    transform: scale(0.71);
    transition: 0.3s;
}
.logo.active {
    display: none;
}

.menu{
    position: absolute;
    right: 5%;
    display: flex;
    justify-content: center;
    list-style: none;
    color: white;
}
.menu.active {
    position: relative;
    right: 0;
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.menu.active:hover {
    color: white;
}

.lista {
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.lista::before {
    position: absolute;
    content: "";
    width: 110px;
    height: 40px;
    background-color: #007fc7;
    left: -50px;
    top: 100%;
    border-radius: 20px;
    z-index: -1;
}

.lista:hover::before {
    animation: desloca 0.5s;
    top: 0;
    left: 0;
}

@keyframes desloca {
    0% {
        left: -50px;
        top: 100%;
    }
    50% {
        left: 15%;
        top: -25%;
    }
    100% {
        left: 0;
        top: 0;
    }
}

.l1::before {background-color: purple;}
.l2::before {background-color: #ff5500;}
.l3::before {background-color: #007fc7;}
.l4::before {background-color: green;}
.l5::before {background-color: #ff0088;}

/*li:hover {
    text-decoration: underline 2px;
    text-underline-offset: 10px;
    cursor: pointer;
}*/

.proximo-show {
    width: 100%;
    align-items: center;
    display: flex;
    position: absolute;
    top: 40vh;
    z-index: 1;
}
.proximo-show-2 {
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    margin-left: 3%;
    color: white;
}

/********** ANIMAÇÃO ***********/

/*animation: move 2s ease-in-out infinite;
@keyframes move {
    0%, 100% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(40px);
    }
}*/

.t-proximo-show {
    margin-left: 3%;
    font-size: 2em;
    margin-bottom: 10px;
    cursor: context-menu;
    width: 340px;
}
.t-proximo {
    font-weight: lighter;
}
.t-show {
    color: orangered;
    font-weight: bold;
}
.data {
    margin-left: 3%;
    font-size: 1.5em;
    margin-bottom: 10px;
    cursor: context-menu;
    width: 100px;
    font-weight: lighter;
}
.local {
    margin-left: 3%;
    font-size: 1.4em;
    cursor: context-menu;
    width: 160px;
    font-weight: lighter;
}

.social {
    position: absolute;
    bottom: 30px;
    left: 5%;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 300px;
    gap: 50px;
    z-index: 5;
}
.social img {
    filter: grayscale(100%) contrast(120%);
    transition: 0.8s;
}
.social img:hover {
    transform: rotateY(360deg);
    transition: 1.2s;
    cursor: pointer;
}

.facebook:hover {
    filter: none;
}
.spotify:hover {
    filter: none;
}
.youtube:hover {
    filter: none;
}




/********** SLIDE ***********/
.sessao1 {
    background-color: #f5f5f5;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box-t-musicas {
    width: 100%;
    height: 120px;
    position: absolute;
    top: calc(5% + 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.t-musicas {
    background-image: url('imagens/t-musicas.svg');
    background-position: center center;
    background-size: cover;
    width: 550px;
    height: 170px;
}

.box-t-descricao-musicas {
    position: absolute;
    margin-top: 50%;
    width: 60%;
    height: 20vh;
}
.t-des-h3 {
    display: flex;
    justify-content: center;
}
.t-des-p {
    text-align: center;
}

.galeria {
    width: 100%;
    height: 400px;
}

.galeria-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
    top: 50px;
}

.galeria-item {
    height: 200px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 330px;
    z-index: 0;
    border-radius: 50%;
    background-size: contain;
}

.galeria-item-1 {
    width: 30%;
    height: 26vh;
    left: 15%;
    opacity: 0.4;
    transform: translateX(-50%);
}

.galeria-item-2, .galeria-item-4 {
    height: 36vh;
    opacity: 0.8;
    width: 35%;
    z-index: 1;
}

.galeria-item-2 {
    left: 30%;
    transform: translateX(-50%);
}

.galeria-item-3 {
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.452));
    height: 50vh;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    z-index: 2;
}

.galeria-item-4 {
    left: 70%;
    transform: translateX(-50%);
}

.galeria-item-5 {
    width: 30%;
    height: 26vh;
    left: 85%;
    opacity: 0.4;
    transform: translateX(-50%);
}

.galeria-controls {
    display: flex;
    justify-content: center;
    margin: 25px 0;
    height: 100px;
}

.galeria-controls button {
    position: absolute;
    top: calc(50% + 25px);
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;
    z-index: 10;
    color: transparent;
    height: 10vh;
    width: 7%;
}
.galeria-controls button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.galeria-controls-button:focus {
    outline: none;
}

.galeria-controls-Anterior {
    left: 0;
    background-image: url('imagens/icones/seta-esquerda.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.galeria-controls-Proximo {
    right: 0;
    background-image: url('imagens/icones/seta-direita.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.galeria-nav {
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.galeria-nav li {
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}

.galeria-nav li.galeria-item-selected {
    background: #555;
}
/********** FIM DO SLIDE ***********/