@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html::-webkit-scrollbar {
    display: none;
}

main {
    position: relative;
}

header {
    background-color: green;
    height: 100vh;
    width: 100%;
}

.box-video {
    width: 100%;
    height: 100%;
    position: absolute;
}
.box-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.menu-box-0 {
    width: 100%;
    display: flex;
    justify-content: center;
}
.menu-box {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.301);
    height: 10vh;
    transition: 0.3s;
    top: 0;
    z-index: 10;
}

.menu-box.active{
    width: 45%;
    padding: 10px;
    border-radius: 30px;
    font-size: 0.8em;
    height: 7vh;
    background-color: rgba(0, 0, 0, 0.692);
}

.menu-box:hover {
    background-color: black;
    transition: 0.3s;
}

.logo {
    position: absolute;
    left: 0;
    transform: scale(0.6);
    transition: 0.3s;
}
.logo:hover {
    transform: scale(0.71);
    transition: 0.3s;
}
.logo.active {
    display: none;
}

.menu{
    position: absolute;
    right: 5%;
    display: flex;
    justify-content: center;
    list-style: none;
    color: white;
}
.menu.active {
    position: relative;
    right: 0;
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.menu.active:hover {
    color: white;
}

.lista {
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.lista::before {
    position: absolute;
    content: "";
    width: 120px;
    height: 40px;
    background-color: #007fc7;
    left: -50px;
    top: 100%;
    border-radius: 20px;
    z-index: -1;
}

.lista:hover::before {
    animation: desloca 0.5s;
    top: 0;
    left: 0;
}

@keyframes desloca {
    0% {
        left: -50px;
        top: 100%;
    }
    50% {
        left: 15%;
        top: -25%;
    }
    100% {
        left: 0;
        top: 0;
    }
}

.l1::before {background-color: purple;}
.l2::before {background-color: #ff5500;}
.l3::before {background-color: #007fc7;}
.l4::before {background-color: green;}
.l5::before {background-color: #ff0088;}

/*li:hover {
    text-decoration: underline 2px;
    text-underline-offset: 10px;
    cursor: pointer;
}*/

.proximo-show {
    width: 100%;
    align-items: center;
    display: flex;
    position: absolute;
    top: 40vh;
    z-index: 1;
}
.proximo-show-2 {
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    margin-left: 3%;
    color: white;
}

/********** ANIMAÇÃO ***********/

/*animation: move 2s ease-in-out infinite;
@keyframes move {
    0%, 100% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(40px);
    }
}*/

.t-proximo-show {
    margin-left: 3%;
    font-size: 2em;
    margin-bottom: 10px;
    cursor: context-menu;
    width: 340px;
}
.t-proximo {
    font-weight: lighter;
}
.t-show {
    color: orangered;
    font-weight: bold;
}
.data {
    margin-left: 3%;
    font-size: 1.5em;
    margin-bottom: 10px;
    cursor: context-menu;
    width: 100px;
    font-weight: lighter;
}
.local {
    margin-left: 3%;
    font-size: 1.4em;
    cursor: context-menu;
    width: 160px;
    font-weight: lighter;
}

.social {
    position: absolute;
    bottom: 30px;
    left: 5%;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 300px;
    gap: 50px;
    z-index: 5;
}
.social img {
    filter: grayscale(100%) contrast(120%);
    transition: 1s;
}
.social img:hover {
    transform: rotateY(360deg);
    transition: 1.2s;
    cursor: pointer;
}

.facebook:hover {
    filter: none;
}
.spotify:hover {
    filter: none;
}
.youtube:hover {
    filter: none;
}

.sessao1 {
    background: #f5f5f5 url('imagens/backgrounds/pngs1.png') no-repeat;
    background-size: contain;
    background-position: center center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.sessao2 {
    width: 100%;
    height: 100vh;
    background-color: #007fc7;
}